*{
    margin: 0px;
    padding: 0px;
    
}
.container{
    background-color: rgb(36, 33, 33);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.codecontainer{
    background-color: rgb(224, 199, 165);
    width: 240px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 550px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.barcode{
    width: 200px;
    height: 200px;
    border-radius: 30px;
 padding: 20px 20px;
}

#p1{
/*background-color: red;*/
text-align: center;
font-weight: bold;
margin: 0px 20px;
font-size: 17.5px;
}

#p2{
/*background-color: green;*/
text-align: center;
padding-top: 17px;
margin: 0px 20px;
font-size: 12px;
}